<!DOCTYPE HTML>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<% if(userFullName){ %>
			<h2>Hello <%= userFullName %> </h2>
			<a href="/signout">Sign out</a>
		<% }else{ %>
			<h2>Hello SignIn</h2>
			<br>
		<% } %>
	</body>
</html>